:root{
    --color-text-white: #FFFFFF;
    --background-color-hero-footer: #2F303A;
    --background-color: #F5F5F5;
    --color-acent: #2196F3;
    --color-black-logo: #000000;    
    --color-title: #212121;   
    --color-text: #757575;
    --color-button-team: #F5F4FA;
    --color-footer-telefon: rgba(255, 255, 255, 0.6); 
}
body{
    width: 1600px;

    background-color: var(--background-color);
    color: var(--color-text);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
/* Убираем точки у всех списков списков
Обнуляем все дефолтные margine всем спискам */
.list {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    list-style: none;
}
/* Обнуляем все дефолтные margine заголовкам */
h1, h2, h3 {
    margin-bottom: 0;
    margin-top: 0;
}
/* Хедер */
.header-container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-color: var(--color-text-white);
}
/* логотип */
.logo {
    margin-right: 93px;

    color: var(--color-black-logo);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
span {
    color: var(--color-acent);
}
/* Кнопки-навигации по страницам сайта */
.site-nav.list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px; 
    align-items: center;
}
.site-nav .item + .item {
    margin-left: 50px;
}
.nav {
    display: flex;
    align-items: center;
}
.site-nav .link {
    display: block;
    color: var(--color-title);
}    
.site-nav .link,
.auth-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-acent);
}
.site-nav .link.current {
    color: var(--color-acent);
}
/* Кнопки Email и телефон */
.auth-nav.list {
    display: flex;
    margin-left: auto;
}
.auth-nav .item + .item {
    margin-left: 50px;
}
.auth-nav .link {
    color: var(--color-text);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--color-acent);
}
/* Общее для всех секций */
.section-title {
    color: var(--color-title);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 94px;
    padding-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
}
/* Секция Герой */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--background-color-hero-footer);
}
.hero-title {
    margin-bottom: 30px;

    color: var(--color-text-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn-hero {
    padding: 10px 32px;

    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
}
/* Качества наших работников */
.skill-list {
    display: flex;
}
.skill-list  .item + .item {
    margin-left: 30px;
}
.skill-list .title {
    margin-bottom: 10px;

    color: var(--color-title);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;   
}
.skill-list .text {
  margin-bottom: 0;
  margin-top: 0;
    
  font-size: 14px;
  line-height: 1.71; 
}

/* Чем мы занимаемся */
.container.work {
    padding-top: 0;
}
.work .section-title {
    margin-bottom: 50px;
}
.work-list .img {
    display: block;
}
.work-list {
    display: flex;
    justify-content: space-between;
}
/* Наша команда */
.section-team {
    background-color: var(--color-button-team);
}
.team-list {
    display: flex;
    justify-content: space-between;
}
.team-list .item {
    text-align: center;
}
.team-list .title {
    margin-bottom: 10px;

    color: var(--color-title);
    font-weight: 500;
    line-height: 1.19;
}
.team-list .text {
    margin-top: 0;
    margin-bottom: 30px;

    line-height: 1.19;
}
.our-team {
    margin-bottom: 50px;
} 
.img-our-team {
    margin-bottom: 30px;
}

/* Список кнопок для портфолио*/
.butt-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.butt-portfolio .item + .item {
    margin-left: 8px;
}
.button-grey {
    padding: 6px 22px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;

    outline: 1px solid crimson;

    color: var(--color-title);
    background-color: var(--color-button-team);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    letter-spacing: inherit; 
}

.button-grey:hover,
.button-grey:focus {
    padding: 6px 25px;

    color: var(--color-text-white);
    background-color: var(--color-acent); 
}
/* Портфолио работ */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-list > .item {
    flex-basis: calc((100% - 60px) / 3);

    outline: 1px solid cornflowerblue;
}
.portfolio-link {
    text-decoration: none;
}
.portfolio-list .title {
    margin-bottom: 4px;
    margin-left: 24px;

    color: var(--color-title);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;   
}
.portfolio-list .text {
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 24px;

    line-height: 1.88;
}
.portfolio-list .img {
    margin-bottom: 20px;
}

/* Кнопки */
.button {
    color: var(--color-text-white);
    background-color: var(--color-acent);
}
/* Footer */
.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
    
    color: var(--color-text-white);
}
.footer {
    background-color: var(--background-color-hero-footer);
}
.address {
    color: var(--color-text-white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.address .link {
    color: var(--color-footer-telefon);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.address .link:hover,
.address .link:focus {
    color: var(--color-acent);
}
.footer > .container {
    padding-bottom: 60px;
    padding-top: 60px;
}
.address p {
    margin-bottom: 9px;
    margin-top: 0;
}
.address .email {
    display: inline-block;
    margin-bottom: 9px;
}